header {
    background-color: rgb(185, 65, 203);
    text-align: center;
    margin: 10px 700px 25px;
} 

.info {
    background-color: goldenrod;
    text-align: center;
    color:aliceblue;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 10px 700px 25px;
    padding: 5px 5px 5px;
}